body{
    font-family: Source Sans Pro;
    background: #282828;
    background: linear-gradient(-45deg, #ee7752, #e73e7e, #23a6d5, #23d5ab);
    /*background: linear-gradient(132deg, #ec5218, #1665c1);*/
    background-size: 400% 400%;
    animation: BackgroundGradient 15s ease infinite;  
}

@-webkit-keyframes BackgroundGradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.lista_social{
  text-decoration: none;
  display: inline-block;
  list-style-type: none;
  margin: 20px;
  
}

h1{
    font-weight: lighter;
    font-size: 80px;
    color: #fff;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 0;
}
p{
    color:#fff;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 0;
}



.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 40%;
  position: relative;
}

.fa:hover {
    opacity: 0.7;
    transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
          
}

.fa-facebook {
  background: rgb(22, 44, 92);
  color: white;
  zoom: 120%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  zoom: 120%;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  zoom: 120%;
}
.fa-instagram {
  background: #c929ae;
  color: white;
  zoom: 120%;
}

.fa-github {
  background: #6805e9;
  color: white;
  zoom: 120%;
}

.fa-reddit {
  background: #f03b04;
  color: white;
  align-items: center;
  zoom: 120%;
}



